<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
    
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    
<script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script> 
   <script>
       function load_js()
   {
      var head= document.getElementsByTagName('head')[0];
      var script= document.createElement('script');
      script.type= 'text/javascript';
      script.src= 'source_file.js';
      head.appendChild(script);
   }

 
       function GetRequest(URL,Send_Content){
            var x=[];
        var jhr= new XMLHttpRequest();
        
        jhr.onreadystatechange = function() {
    if (jhr.readyState == XMLHttpRequest.DONE) {
        
         x=jQuery.parseJSON(jhr.responseText);
        }
        }
            jhr.open("GET",URL,false);
            jhr.send(Send_Content); /* default to null */
           return x;
           
       };
    
   

    $(document).ready(function(){
        
        
        /*  
        var x=[];
        var jhr= new XMLHttpRequest();
        
        jhr.onreadystatechange = function() {
    if (jhr.readyState == XMLHttpRequest.DONE) {
        console.log(jhr.responseText);
         x=jQuery.parseJSON(jhr.responseText);
        }
        }
            jhr.open("GET","/test",false);
            jhr.send(null);
        */
        var x=GetRequest("/testserver",null);
       
     
        var s='<a class="list-group-item" id="RootFolder" name="FirstDirectory">' + x.RootFolder +'</a>';
        var foo =document.createElement('foo');
        foo.innerHTML= s;
        $('div.list-group').append(foo.innerHTML);
        
        $("#RootFolder").click(function()
                             {

                    temp = x.Inside_Root;
            temp_root= x.RootFolder;
            temp_directory=x.Directory;
     /*      $(this).after('<div class="list-group">');*/
            
            for (i=0;i<temp.length;i++){
                                
                $(this).before('<a class="RootFolderTest list-group-item">'  + temp[i] + "</a>");
                       

            }
        
        /*    $(this).after("</div>");*/
          
            $(this).hide();
            
            
         
            
        });
     
        
        $(document).on('click',"a.RootFolderTest",function(){
             
            <form action="otherpage.html">
  <input type="hidden" name="varname" value="12345" />
  <input type="submit" value="Send data">
</form>
  /*
            var X_Return=$(this).html();
    
         $("a.RootFolderTest").hide();
        $.post("/test",{
            directory_return : temp_directory + "/" + X_Return
            
        })
            
           var x=GetRequest("/testserver",null);
            temp2= x.Inside_Root;
           temp_directory=x.Directory;
                
               for (i=0;i<temp2.length;i++){
                                
                $(this).before('<a class="RootFolderTest list-group-item">'  + temp2[i] + "</a>");                     
            }
           
           
            
        });
        
       $("ul.nav.navbar-nav.navbar-right").click(function(){
          
$.post("/test",{
    directory_return : temp_root
})        
       })
        
    */
    });
        
    </script>
<title>Database Folder</title>
<body>
    
<nav class="navbar navbar-inverse bg-primary">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index">Annotation Software</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Annotated Data</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="folder.html">Database Folder</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<ol class="breadcrumb">
  <li class="active"><a href="folder.html">Root</a></li>
    
    
    </ol>
<div class="list-group">
      

</div>

    <form method="post" action="/folder">
    <input type="text" id="UserName" name="UserName"/>
        <input type="submit" value="Submit"/>
        
    </form>
          
    
    </body>
</html>